.footer {
  background-color: #222222;
  color: #ffffff;

  padding: 30px max(20px, calc((100% - 1000px) / 2));

  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: Arial, sans-serif;
  border-top: 2px solid #ffe100;
  width: 100%;
  box-sizing: border-box;
}

.contact p b,
.social-links h3 {
  color: #ffd700;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
}

.social-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  margin-bottom: 8px;
  transition: 0.2s;
}
.social-link:hover {
  color: #ffd700;
}
.social-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.footer > a button {
  background-color: #ffd700;
  color: #222;
  border: none;
  padding: 12px 30px;
  border-radius: 30px; 
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
}
.footer > a button:hover {
  background-color: #fff;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact,
  .social-links,
  .footer > a {
    flex: 1;
  }
  .footer > a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
